<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{event_detail}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <h2 class="upper">{{evnt_name}}</h2>
  </div>

  <div text-center>
    <img src="{{evnt_banner}}" width="100" height="100">
  </div>

  <div>
    <ion-label>{{event_from_date}} : </ion-label>
    <p class="p-set">{{evnt_from_date}}</p>

  </div>

  <div *ngIf="evnt_to_date">
    <ion-label>{{event_to_date}} : </ion-label>
    <p class="p-set">{{evnt_to_date}}</p>
  </div>

  <div>
    <ion-label>{{event_loc}} : </ion-label>
    <p class="p-set">{{evnt_loc_name}}</p>
  </div>

  <div>
    <ion-label>{{event_desc}} : </ion-label>
    <p class="p-set">{{evnt_desc}}</p>
  </div>

  <div>
    <h1 class="h1-story">{{event_story}}</h1>
    <ion-list>
      <ion-item *ngFor="let item of items; let i = index;">
        <ion-row>
          <ion-col col-5 class="round_img">
            <div *ngIf="(i+1 == 1 && i+1 !== 2 && i+1 !== 3)">
              <img class="rank-img-1" src="assets/imgs/ranking/gold.png">
            </div>
            <div *ngIf="(i+1 == 2 && i+1 !== 1 && i+1 !== 3)">
              <img class="rank-img-2" src="assets/imgs/ranking/silver.png">
            </div>
            <div *ngIf="(i+1 == 3 && i+1 !== 1 && i+1 !== 2)">
              <img class="rank-img-3" src="assets/imgs/ranking/bronz.png">
            </div>
            <div *ngIf="(i+1 >= 4)">
              <h1 class="rank-h1">{{i+1}}</h1>
            </div>
            <img class="img-bord" (click)="itemTapped(item)" src="{{item.image_thumb}}">
            <!-- <img *ngIf="item.rank_image" class="img-badge" width="30px" height="30px" src="{{item.rank_image}}"> -->
          </ion-col>
          <ion-col col-7>
            <h3 class="rank-h3 ellipsis-1">{{item.title}}</h3>
            <p class="rank-p1 ellipsis-1">
              <span *ngFor="let cat of item.categories; let j = index;">
                <span *ngIf="item.categories.length-1 > j">{{cat}}, </span>
                <span *ngIf="item.categories.length-1 == j">{{cat}}</span>
              </span>
            </p>
            <div class="ellipsis-2">
              <span class="rank-spn" *ngFor="let tag of item.tags; let j = index;">
                <span *ngIf="item.tags.length-1 > j">{{tag}}, </span>
                <span *ngIf="item.tags.length-1 == j">{{tag}}</span>
              </span></div>
            <p class="rank-p2 ellipsis-1">{{by}} <u (click)="goToProfile(item.user_id)">{{item.user_name}}</u> {{from}}
              {{item.title}}</p>
            <div class="fire-div">
              <span>{{item.totalLikes}}
                <img class="fire-image" height="20" width="20" src="assets/imgs/story/Positive-Flame.png">
              </span>
              <span>{{item.totalDislikes}}
                <img class="fire-image" height="20" width="20" src="assets/imgs/story/Negative-Flame.png">
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </div>
</ion-content>