page-activity-logs {
    .mrgn-10 {
        margin-top: 10px;
    }
    .back-btn{
        background: transparent !important;
        color: #fff;
        margin-top: 16px !important;
    }
    .toolbar-title-md {
        margin-left: 0px !important;
    }
}