<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{name}}
    </ion-title>
    <ion-buttons right *ngIf="id!=user_id">
      <button class="back-btn">
        <img src="assets/icon/report_color.png" width="30px" height="30px" (click)="reportStory()">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col col-5>

        <div class="profile-container">
          <img src="{{userImage}}" class="image">
        </div>

        <h3>{{name}}</h3>
      </ion-col>

      <ion-col col-7>
        <div>

          <ion-row>
            <ion-col col-6>
              <div class="followers-btn">
                <h2 text-center>{{followers}}</h2>
                <p>{{followers_txt}}</p>
              </div>
            </ion-col>
            <ion-col col-6>
              <div class="flames-btn">
                <h2 text-center>{{flames}}</h2>
                <p>{{flames_txt}}</p>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-5 text-center *ngIf="id!=user_id">
              <div *ngIf="!followed" (click)="dofollow()">
                <div class="follow-btn">
                  <p>{{follow_txt}}</p>
                </div>
              </div>
              <div *ngIf="followed" (click)="doUnFollow()">
                <div class="followed-btn">
                  <p>{{following_txt}}</p>
                </div>
              </div>              
            </ion-col>            
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div>
    <ion-segment [(ngModel)]="user" color="danger">
      <ion-segment-button value="Stories">
        {{stories}}
      </ion-segment-button>
      <ion-segment-button value="Ranking">
        {{ranking}}
      </ion-segment-button>
      <ion-segment-button value="Followers">
        {{followers_txt}}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="user">
    <div *ngSwitchCase="'Stories'">
      <story [userid]="id"></story>
    </div>

    <ion-grid class="segment-grid" *ngSwitchCase="'Ranking'">
      <ranking [userid]="id"></ranking>
    </ion-grid>

    <div *ngSwitchCase="'Followers'">
      <followers [userid]="id"></followers>
    </div>
  </div>

</ion-content>