page-terms {
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: #000 !important;
    }
    .white_btn {
        color: #fff !important;
    }

    h1 {
        font-size: 21px !important;
        font-family: Verdana !important;
    }

    h4 {
        font-size: 19px !important;
        font-family: Verdana !important;
        // font-family: Trebuchet MS !important;
    }

    p {
        margin-bottom: 25px !important;
  
    }
}