page-forgot-password {
    h1,h2,h3,h4,h5,p {
        color: #000!important;
    }
    hr {
        border-top: 1px solid #000;
        width: 205px;
    }
    .user-img {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    ion-item {
        border-radius: 15px;
    }
    .send-btn {
        border-radius: 10px;
        background: linear-gradient(to right, #ec3747 , #f45a43);
        padding: 23px 32px;
        font-size: 17px;
        margin-top: 3rem;
    }

    .bntback, .back-btn{
        background: transparent !important;
    }
    
    .login-back {
        background: #eaeaea;
        width: 100%;
        height: 100%;
    }

    /* ------ Added on 3_11_2018 ------ */

     ion-content {
         top: 70px !important;
     }

     ion-header, ion-navbar {
        height: 68px;
    }

    ion-navbar.toolbar {
        height: 68px;
    }

     .fixed-content {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
     }

     .scroll-content{
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

    .back-btn {
        padding-top: 11px;
    }

    .toolbar-title {
        font-weight: 300;
        font-size: large;
    }

    .user-img {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    #txt-title {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 2.4rem;
    }

    .text-input-md {
        margin: 0px 0px;
    }

    hr {
        width: 192px;
    }

    #p-fgt-pass {
        font-size: 11px;
        font-weight: 200 !important;
    }

    #fgt-pass-frm {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .send-btn {
        border-radius: 10px;
        padding: 10px 24px;
        font-size: 17px;
        margin-top: 15px;
        color: white;
    }

    #txt-problm {
        font-size: 1.2rem !important;
        font-weight: bold  !important;
        margin-bottom: 0px !important;
    }

    /* for header logo */
    .hdr-logo{
        margin-right: 5px;
    }

    .hdr-txt {
        display:inline-block;
    }

    .toolbar-title-md {
        margin-left: 0px !important;
    }
 
}
