<ion-header>
    <ion-navbar hideBackButton>
        <ion-title text-center>
            {{login}}
        </ion-title>
        <ion-buttons right>

            <span class="logo">
                <img src="assets/imgs/login/Group-2.png" class="fire-icon">
            </span>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="login-back" scroll="false">
        <div class="row">
            <div class="col">
                <div text-center>
                    <button class="wechat-btn" (click)="goToWechat()" ion-button type="submit">
                        <img src="assets/imgs/login/wechat.png" id="img-wechat" width="40" height="40"><span id="txt-wechat">{{login_wechat}}</span></button>
                </div>
            </div>
        </div>
        <div text-center>
            <h2 id="txt-or">{{or}}</h2>
        </div>
        <div text-center>
            <form [formGroup]="loginForm">
                <ion-item>
                    <ion-input placeholder="{{reg_mail}}" formControlName="email" type="text" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <div text-center>
                    <p class="invalid-message" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.dirty || submitAttempt)">{{error_email}}</p>
                </div>

                <ion-item text-center id="pass_word">
                    <ion-input placeholder="{{pass_text}}" formControlName="password" type="password" [class.invalid]="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
                </ion-item>
                <div text-center>
                    <p class="invalid-message" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.dirty || submitAttempt)">{{error_password}}</p>
                </div>
                <div text-right>
                    <h5 class="frgt-link" (click)="forgotPass()">{{forgot_pass}}</h5>
                </div>

                <br>
                <div text-center>
                    <button class="submit-btn" ion-button type="submit" (click)="save()">{{let_go}}</button>
                </div>

            </form>
        </div>
        <div class="row">
            <div class="col">
                <div text-center>
                    <hr class="login-hr">
                    <h3 id="new-to">{{new_to_rarau}}</h3>
                    <h3 id="sign-up" (click)="goToRegsiter()" style="text-decoration: underline;">{{sign_up}}</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div text-center>
                    <hr class="login-hr">
                    <h3 id="txt-rarau">{{rarau}}</h3>
                    <p id="txt-go">{{connect_and_go}}</p>
                </div>
            </div>
        </div>
    </div>

</ion-content>