page-login {
    h1,h2,h3,p {
        color: #fff;
    }
    .login-back {
        background-image: url('../assets/imgs/login/login-back.png');
        width: 100%;
        min-height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .login-back h1 {
        margin-top: 70px;
    }
    .login-back ion-item {
        width: 60%;
        border-radius: 15px;
        margin-left: 20%;   
    }
    .login-back .submit-btn {
        border-radius: 15px;
        background: linear-gradient(to right, #ec3747 , #f45a43);
        margin-bottom: 5px;
    }
    .frgt-link {
        color: #fff;
        text-decoration: underline;
        margin-right: 22vw;
    }
    .wechat-btn {
        border-radius: 8px;
        background: #00cf0d;
        padding: 25px 25px;
        margin-bottom: 10px;
        margin-top: 10vh;
        text-transform: unset;
        font-size: 18px;
        font-weight: 400;
    }
    .login-hr {
        border-top: 1px solid #fff;
        width: 80%;
        text-align: center;
    }
    

    /* ------ Added on 3_11_2018 ------ */

    ion-header, ion-navbar {
        height: 68px;
    }

    ion-navbar.toolbar {
        height: 68px;
    }

    #txt-login {
        display: inline-block;
        padding-top: 18px;
        padding-left: 0px;
        // font-size: 18px !important;
    }

    .fixed-content, .scroll-content {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .wechat-btn {
        margin-top: 8vh;
    }

    .login-back #img-wechat {
        margin-left: -15px;
    }

    .login-back #txt-wechat {
        margin-left: 20px;
        margin-right: 20px;
    }

    .login-back #txt-or {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    .login-back ion-item {
        width: 72%;
        border-radius: 10px;
        margin-left: 14%;
    }

    .item-md {
        padding-left: 0px;
    }

    .item-block .item-inner {
        padding-right: 10px;
        padding-left: 10px;
    }

    .invalid-message {
        padding-top: 0px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: -135px;
        font-size: 14px !important;
    }

    .frgt-link {
        margin-right: 14vw;
        margin-top: 8px;
        margin-bottom: 0px;
        font-weight: initial;
        text-underline-position: under;
    }

    .login-back .submit-btn {
        border: 1px solid;
        border-color: white;
        border-radius: 12px;
        height: 3.4rem;
        width:80px;
    }

    .submit-btn .button-inner {
        font-size: 1.6rem;
        font-weight: 400;
        text-transform: none;
    }

    .login-hr {
        width: 75%;
    }

    #new-to {
        margin-top: 25px;
        margin-bottom: 0px;
        font-weight: initial;
        font-size: 1.6rem;
    }

    #sign-up {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: initial;
        font-size: 1.6rem;
    }

    #txt-rarau {
        margin-top: 8px;
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 1.6rem;
    }

    #txt-go {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: 400;
        font-size: 1.2rem;
    }

    .scroll-content {
        padding-bottom: 0px !important;
    }

    .text-input-md {
        margin: 0px 0px !important;
        font-size: 13px;
    }

    .item-input ion-input, .item-input ion-textarea {
        font-size: 13px;
    }

    .item-block {
        min-height: 3.8rem !important;
    }

    .hdr-logo {
        position: relative;
    }

    .wechat-btn {
        margin-top: 27px;
        padding: 18px;
        padding-left: 10px;
        padding-right: 24px;
        margin-bottom: 0px;
    }

    .login-back #img-wechat {
        margin-left: 10px;
        height: 30px;
        width: 30px;
    }

    .login-back #txt-wechat {
        font-size: 15px;
        margin-left: 20px;
        margin-right: 8px;
    }

    #txt-or{
        margin-top: 10px !important;
        margin-bottom: 18px !important;
        font-size: 2.0rem !important;
        font-weight: 400 !important;
    }

    .login-back ion-item {
        width: 66% !important;
        border-radius: 10px !important;
        margin-left: 17% !important;
        margin-bottom: 5px !important;
    }

    .frgt-link {
        font-size: 1.4rem;
        margin-right: 17vw;
    }

    #pass_word {
        margin-top: 15px;
    }

    .item-md.item-block .item-inner {
        border-bottom: 2px solid #dedede;
    }

    // .input-has-focus .item-input-has-focus {
    //     border-bottom-color: #00cf0d;
    // }

}
