<ion-header>
  <ion-navbar>
    <ion-title><span id="hdr-txt">{{title}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="h2-grad lvl-div">
    <span class="lvl-title">{{level_txt}} </span>
    <span class="lvl-value">{{levels}}</span>
  </div>
  <img class="img-resp" src="{{petImage}}">
  <h2 class="h2-grad">{{petTitle}}</h2>
  <progress-bar [progress]="progress"></progress-bar>

  <!-- <div style="margin-top: 10px">
    <ion-slides *ngIf="Advdata" autoplay="3000" loop="true" speed="500" (ionSlideDidChange)="slideChanged()">
       <ion-slide *ngFor="let slide of levels" (click)="onLevelClick(slide)">
        <div>
          <img class="adv-img" src="{{slide.image}}" height="100" width="100">
          <p>{{slide.level}}</p>
          <p>{{slide.points}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
  
  <ion-row>
    <ion-col col-12>
      <p>For upgrading your pet do more Like, Comment and Post Stories. it will help you to upgrade your pet fast.</p>
    </ion-col>
  </ion-row>

</ion-content>