page-login-wechat {
    h1, p{
        color: #fff;
    }
    .login-back {
        background-image: url('../assets/imgs/login/login-back.png');
        width: 100%;
        min-height: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .profile-image {
        padding-top: 5vh;
    }
    .login-back ion-item {
        width: 60%;
        border-radius: 15px;
        margin-left: 20%;
    }
    .submit-btn {
        width: 30vw;
        height: 6vh;
        font-size: 18px;
        border-radius: 15px;
        background: linear-gradient(to right, #ec3747, #f45a43);
        margin-bottom: 5px;
    }
    .date-row {
        width: 60%;
        margin-left: 20%;
    }
    ion-datetime {
        background: #fff;
        border-radius: 15px;
    }
    .back-btn {
        background: transparent !important;
    }

    /* Added on 6_11_2018 */

    ion-navbar.toolbar {
        height: 72px;
    }

    .toolbar-title, .toolbar-title-md {
        font-size: 5vw;
    }

    .back-btn {
        margin-top: 10px !important;
    }

    .hdr-logo {
        margin-right: 7px !important;
    }

    .profile-image {
        padding-top: 8vh !important;
    }

    .profile-pic-img {
        height: 110px !important;
        width: 110px !important;
    }

    .toolbar-title-md {
        margin-left: 0px !important;
    }
}