<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title text-center> -->
    <ion-title>
      {{story}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <ion-grid class="background" [style.background-image]="'url('+image+')'">

    <div class="story-top">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{user_image}}">
        </ion-avatar>
        <h2>{{user_name}}'s Story</h2>
        <p>
          <span *ngFor="let tag of tags; let j = index;">
            <span *ngIf="tags.length-1 > j">{{tag}}, </span>
            <span *ngIf="tags.length-1 == j">{{tag}}</span>
          </span>
        </p>
      </ion-item>
    </div>

    <div class="swipe-area" swipeAll (swipe)="swipeAll($event)" (swipeleft)="swipeLeft($event)"
      (swiperight)="swipeRight($event)" (swipeup)="swipeUp($event)" (swipedown)="swipeDown($event)">
    </div>

    <ion-grid class="story-footer">
      <ion-row>
        <ion-col col-9>
          <button (click)="saveStory()" clear style="background: transparent">
            <img src="assets/icon/download_color.png" height="40" width="40">
          </button>
          <button (click)="reportStory()" clear style="background: transparent">
            <img src="assets/icon/report_color.png" height="40" width="40">
          </button>
          <button *ngIf="receipt_private == 0 || receipt_private == null" (click)="showReceipt()" clear
            style="background: transparent">
            <img src="assets/icon/invoice-icon_color.png" height="40" width="40">
          </button>
        </ion-col>
        <ion-col col-3>
          <div class="fire-div">
            <span *ngIf="totalFlames > 0">
              <span class="like-head">{{totalLikes}}</span>
              <span class="fire-image-area">
                <img class="fire-image" height="30" width="30" src="assets/imgs/story/pos-flam.png">
              </span>

            </span>
            <span *ngIf="totalFlames < 0">
              <span class="like-head">{{totalDislikes}}</span>
              <span class="fire-image-area">
                <img class="fire-image" height="30" width="30" src="assets/imgs/story/neg-flame.png">
              </span>
            </span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="comment-back" swipeAll (swipeup)="goToComments($event)" text-center>
    <ion-col col-12>
      <p>{{swipe_comment}}</p>
      <div>
        <img class="comment-img" src="assets/imgs/up-arrow.png">
      </div>
    </ion-col>
  </ion-row>
</ion-footer>