page-event-list {
    p,
    h3 {
        color: #000;
    }
    .round_img {
        ion-icon {
            display: inline-block;
            font-size: 2em;
        }
    }
    .rank-h1 {
        font-size: 23px !important;
        margin-top: 3px !important;
        color: #ec3747 !important;
        font-weight: bolder !important;
        border: 2px solid #ec3747;
        border-radius: 22px;
        width: 30px !important;
        height: 30px !important;
        text-align: center;
        transform: rotate(-30deg);
        margin-left: 3px;
        position: absolute;
    }
    /* for ranking font size */
    .rank-h3 {
        font-size: 1.8rem !important;
    }
    .rank-p1 {
        font-size: 1.6rem !important;
    }
    .rank-spn {
        font-size: 1.4rem !important;
        display: inline-block;
    }
    .rank-p2 {
        font-size: 1.2rem !important;
    }
    .img-bord {
        border-radius: 15px;
    }
    .segment-md-primary .segment-button {
        color: #ec3747;
    }
    .segment-md .segment-button.segment-activated {
        border-color: #ec3747;
        color: #ec3747;
        opacity: 1;
    }
}