page-search-result {
    .back-btn {
        background: transparent !important;
        margin-top: 10px;
    }
    ion-item {
        h2 {
            color: #000 !important;
        }
    }
    .btn-color {
        background: transparent;
        position: relative;
    }
    .i-serach {
        background: #ee3f46;
        color: #fff;
        width: 32px;
        height: 32px;
        font-size: 22px;
        border-radius: 50%;
        padding: 5px;
    }
    form {
        ion-item {
            width: 80%;
            border: 1px solid #eaeaea;
            border-bottom: none;
            border-radius: 20px;
            margin-left: 10%;
        }
    }

    .back-btn {
        margin-top: 18px !important;
    }
}