<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{location_txt}}
    </ion-title>
    <ion-buttons right>
      <button class="publish-btn" ion-button type="submit" (click)="Next()"> {{next}} </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="background" [style.background-image]="'url('+image+')'">
    <div class="div-botm">
      <button ion-button float-right class="{{myLocBtn}}" (click)="MyLocation()">{{my_location_txt}}<ion-icon ios="ios-locate"
          md="md-locate"></ion-icon></button>

      <ion-list>
        <ion-item *ngIf="isMycurrLoc">
          <ion-input placeholder="{{story_title_txt}}" [(ngModel)]="story_title" type="text"></ion-input>
        </ion-item>
      </ion-list>

      <ion-searchbar *ngIf="!isMycurrLoc" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
        placeholder="{{story_srch_loc}}"></ion-searchbar>

      <ion-list [hidden]="autocompleteItems.length == 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>