<ion-header>
    <ion-navbar hideBackButton>
      <ion-buttons left>
        <button ion-button (click)="goBack()">
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title text-center>
        {{saved_story}}
      </ion-title>
      <ion-buttons right>
  
        <span class="logo">
          <img src="assets/imgs/login/Group-2.png" class="fire-icon">        
        </span>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content>
  <ion-list no-lines>
    <ion-item *ngFor="let record of model; let i = index;" (click)="gotoStoryDetail(record)">
      <ion-avatar item-start>
        <img src="{{record.image_thumb}}">
      </ion-avatar>
      <h2>{{record.user_name}}</h2>
      <p class="ellipsis-2">
        <span *ngFor="let tag of record.tags; let j = index;">
          <span *ngIf="record.tags.length-1 > j">{{tag}}, </span>
          <span *ngIf="record.tags.length-1 == j">{{tag}}</span>
        </span>
      </p>
      <ion-note item-end>{{record.categories}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>