page-saved-stories {
    .back-btn {
        background: transparent !important;
        margin-top: 16px !important;
    }
    .circle-pic {
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
}