<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-slides *ngIf="tutImages && tutImages.length" (ionSlideDidChange)="slideChanged()" pager>
    <ion-slide *ngFor="let tutorial of tutImages" class="background_tute tutorial_chk"
      [style.background]="'url('+tutorial.image+')'">
      <div *ngIf="tutCheck==1">
        <ion-label class="white-col">{{show_tutorial}}</ion-label>
        <ion-checkbox [(ngModel)]="tutorial_will" (ionChange)="reloadTutorial()"></ion-checkbox>
      </div>
      <div class="story-footer">
        <ion-grid>
          <ion-row>
            <ion-col class="text-left" col-3>
              <button full ionButton class="btn-back" (click)="tuteSkip()">{{skip}}</button>
            </ion-col>
            <ion-col col-3>

            </ion-col>
            <ion-col class="text-right" col-3 offset-3>
              <button full ionButton class="btn-back" (click)="tuteSeen()">{{next}}</button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </div>
    </ion-slide>
  </ion-slides>

</ion-content>