<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      {{category_txt}}
    </ion-title>
    <ion-buttons right>
      <button class="publish-btn" ion-button type="submit" (click)="saveStory()"> {{publish}} </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="background" [style.background-image]="'url('+image+')'">

    <div class="bottom_tag">
      <ion-scroll *ngIf="story_type_id==undefined" class="horizontal" scrollX="true">
        <ion-row nowrap class="headerChip">
          <div *ngFor="let category of model; let i = index;">
            <ion-chip (click)="selectCat(category, i)">
              <ion-label>{{category.title}}</ion-label>
              <div *ngIf="category.isImage == 1">
                <ion-icon name="checkmark"></ion-icon>
              </div>
            </ion-chip>
          </div>
        </ion-row>
      </ion-scroll>

      <ion-list>
        <!-- <ion-item>
          <ion-label>{{show_in_event}}</ion-label>
          <ion-toggle color="danger" [(ngModel)]="event_will" (ionChange)="SetEvent()"></ion-toggle>
        </ion-item> -->
        <ion-item>
          <ion-tags-input [placeholder]="comma_separate" [(ngModel)]="tags" [color]="'danger'"
            (onChange)="onChange($event)" [verifyMethod]="verifyTag" [separatorStr]="','" [canEnterAdd]="true"
            [canBackspaceRemove]="true"></ion-tags-input>
        </ion-item>
      </ion-list>
    </div>
  </ion-grid>
</ion-content>