page-report {
    .submit-btn {
        color:#fff;
        background: linear-gradient(to right, #ec3747, #f45a43);
        background: -webkit-gradient(linear, left top, right top, from(#ec3747), to(#f45a43));
    }
}