<ion-header>

  <ion-navbar>
    <ion-toolbar>
      <ion-title>EditProfile</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div text-center>
    <h1>Edit Profile</h1>
    <form [formGroup]="editProfileForm">
      <ion-item>
        <ion-input formControlName="name" type="text"
          [class.invalid]="!editProfileForm.controls.name.valid && (editProfileForm.controls.name.dirty || submitAttempt)">
        </ion-input>
      </ion-item>
      <p class="invalid-message"
        *ngIf="!editProfileForm.controls.name.valid  && (editProfileForm.controls.email.dirty || submitAttempt)">
        {{error_name}}</p>
      <br>

      <ion-item>
        <ion-input formControlName="email" type="text" value="{{email}}"
          [class.invalid]="!editProfileForm.controls.email.valid && (editProfileForm.controls.email.dirty || submitAttempt)">
        </ion-input>
      </ion-item>
      <p class="invalid-message"
        *ngIf="!editProfileForm.controls.email.valid  && (editProfileForm.controls.email.dirty || submitAttempt)">
        {{error_email}}</p>
      <br>
    </form>
  </div>
</ion-content>