<div #map id='map' style="height: 60% !important;">
</div>

<div *ngIf="showStories" class="top-stories">
  <ion-buttons end class="back-white">
    <button class="cross">
      <ion-icon text-right name="close-circle" (click)="closeList()"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list (click)="goToList()" no-lines>
    <ion-item *ngFor="let record of stories; let i = index;">
      <ion-avatar item-start>
        <img src="{{record.user_image}}">
      </ion-avatar>
      <h2>{{record.user_name}}</h2>
      <p>
        <span *ngFor="let tag of record.tags; let j = index;">
          <span *ngIf="record.tags.length-1 > j">{{tag}}, </span>
          <span *ngIf="record.tags.length-1 == j">{{tag}}</span>
        </span>
      </p>
      <ion-note item-end>{{record.categories}}</ion-note>
    </ion-item>
  </ion-list>

</div>