<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-title text-center> -->
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list">

  <ion-list no-lines>
    <ion-item *ngFor="let record of data; let i = index;" (click)="showStory(record)">

      <ion-avatar item-start>
        <img src="{{record.user_image_thumb}}">
        <div class="lvl-image">
          <p class="background-lvl"><span style="color:#fff;">{{lvl_txt}} {{record.user_level}}</span></p>
        </div>

        <div class="fire-div">
          <span *ngIf="record.totalFlames > 0">
            <img class="fire-image" src="assets/imgs/story/Positive-Flame.png">
          </span>
          <span *ngIf="record.totalFlames < 0">
            <img class="fire-image" src="assets/imgs/story/Negative-Flame.png">
          </span>
        </div>

      </ion-avatar>

      <ion-row>
        <ion-col>
          <h2>{{record.user_name}}</h2>
        </ion-col>
        <ion-col>
          <ion-note item-end>
            <span class="flame-number">{{record.totalDislikes}} <img src="assets/imgs/story/Negative-Flame.png"
                width="10" height="10"></span>
            <span class="flame-number">{{record.totalLikes}} <img src="assets/imgs/story/Positive-Flame.png" width="10"
                height="10"></span>
          </ion-note>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <span *ngFor="let tag of record.tags; let j = index;">
            <span *ngIf="record.tags.length-1 > j">{{tag}},&nbsp;</span>
            <span *ngIf="record.tags.length-1 == j">{{tag}}</span>
          </span>
        </ion-col>
      </ion-row>

      <p class="p-date">{{record.created_date}}</p>

      <img class="img-grid" src="{{record.image_thumb}}" width="70" height="70">
    </ion-item>
  </ion-list>
</ion-content>