<ion-content padding>
    <div>
        <form [formGroup]="upPassForm">
            <div text-center>
                <p ion-text color="danger" *ngIf="submitAttempt && error_warning">{{error_warning}}</p>
                <p ion-text color="secondary" *ngIf="submitAttempt && success">{{success}}</p>
            </div>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label floating>{{password}}</ion-label>
                            <ion-input formControlName="password" type="text"
                                [class.invalid]="!upPassForm.controls.password.valid && (upPassForm.controls.password.dirty || submitAttempt)">
                            </ion-input>
                        </ion-item>
                        <p class="invalid-message"
                            *ngIf="!upPassForm.controls.password.valid  && (upPassForm.controls.password.dirty || submitAttempt)">
                            {{error_password}}</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label floating>{{confirm_password}}</ion-label>
                            <ion-input formControlName="passconf" type="text"
                                [class.invalid]="!upPassForm.controls.passconf.valid && (upPassForm.controls.passconf.dirty || submitAttempt)">
                            </ion-input>
                        </ion-item>
                        <p class="invalid-message"
                            *ngIf="!upPassForm.controls.passconf.valid  && (upPassForm.controls.passconf.dirty || submitAttempt)">
                            {{error_confirm}}</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </form>

        <div padding>
            <button ion-button color="primary" block (click)="updatePass()">{{update_password}}</button>
        </div>
    </div>
</ion-content>